*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

header {
    background-color: #ddd;
    padding: 20px 0;
}

header, .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, nav, ul {
    list-style: none;
    display: flex;
    background: white;
}

header, nav, ul, li {
    margin-left: 20px;
}
.hero {
    background-image: url('./photo_2025-03-12_20-21-36.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333; 

}
.containers{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__content {
    text-align: left;
    width: 50%;
    padding: 20px;
    
}
.hero{
    margin-bottom: 20px;
    justify-content: center;
    font-size: 20px;
}
.hero, p {
    margin-bottom: 30px;
}
.btn{
    width: 140px;
    height: 40px;
    background: #333;
    color: white;
}
.containeri{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
.enco{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.front{
    width: 300px;
    height: 300px;
}
.flasn{
    margin-top: 30px;
    text-align: center;
}
.containering{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    border: 5px solid fuchsia;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.cherve{
    display: flex;
    
}
.cenoce,
.consing{
    width: 50%;
}
.h3{
    margin-top: 200px;
    font-size: 50px;
    margin-bottom: 30px;
}
.button{
    width: 140px;
    height: 40px;
    background: #333;
    color: white;
    border-radius: 10px;
    border: none;
    margin-right: 50%;
    margin-left: 100px;
}